---


const PROJECTS= [
    {
        title: "Plataforma E-Commerce Kimey PetShop",
        description: "Página web E-commerce de articulos para mascotas con todas las funcionalidades que este tipo de aplicaciones necesita, gestión de favoritos, carrito de compras, panel de administración e integración con MercadoPago, autenticación de terceros, etc. También cuenta con un diseño fiel y consistente en todos los apartados del sitio con imagenes editadas por mi mismo",
        link:"https://www.youtube.com/watch?v=wqjOESK5LcA&ab_channel=FeliAguirre",
        github:"https://github.com/FeliAguirre7/Pet-Shop-PF-Henry",
        media: "https://www.youtube.com/embed/wqjOESK5LcA", // Cambia "image" a "media" y proporciona la URL de embed del video
        type: "video", // Agrega un campo "type" para especificar el tipo de media
        tags: ["Tailwind", "Next JS", "Javascript"],
    },
    {
        title: "Proyecto de paises y turismo",
        description: "Plataforma ilustrativa e informativa, se basa en el uso de una API externa para renderizar distintas tarjetas de paises, ordenadas en distintas páginas y con la posibilidad de buscar algún país en especifico, de filtrar por continente o actividad turistica, y también la función de crear una actividad turistica para determinados paises.",
        link: "https://second-project.vercel.app/",
        media:"https://res-console.cloudinary.com/dqt0isvyc/thumbnails/v1/image/upload/v1717447645/Y291bnRyaWVzX3BpX2Q1bW5teQ==/drilldown",
        type:"image",
        github: "https://github.com/FeliAguirre7/countries",
        tags: ["React", "Redux", "Node", "Express", "Sequelize"], // Etiquetas del segundo proyecto
    }
]
---


{
    PROJECTS.map(({ title, description, tags, type, media, link, github }) => (
        <article key={title}>
            <h3 class="text-red-200/100 p-4">{title}</h3>
            <p class="text-white p-2">{description}</p>
            <ul class="text-yellow-200/100 p-4">
                {tags.map((tag) => (
                    <li key={tag}>{tag}</li>
                ))}
            </ul>
            {type === "video" ? (
                <iframe
                    width="560"
                    height="315"
                    src={media} // Usa la variable media aquí para el video
                    title={title}
                    frameBorder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowFullScreen
                    class="p-4"
                ></iframe>
            ) : (
            <img
                src={media} // Usa la variable image aquí
                alt={title}
                class="p-4" // Cambia alt para que coincida con el título del proyecto
            />
        )}
            <a href={link} class="text-white p-7" target="_blank" rel="noopener noreferrer">Visitar Proyecto</a>
            <a href={github} class="text-white p-7" target="_blank" rel="noopener noreferrer">Ver en GitHub</a>
        </article>
    ))
}